
outros/wsgi.py
outros/vertabelo.txt
outros/modelagem_delivery.png
outros/bulma/sass/utilities/mixins.sass
outros/bulma/sass/utilities/initial-variables.sass
outros/bulma/sass/utilities/functions.sass
outros/bulma/sass/utilities/extends.sass
outros/bulma/sass/utilities/derived-variables.sass
outros/bulma/sass/utilities/controls.sass
outros/bulma/sass/utilities/animations.sass
outros/bulma/sass/utilities/_all.sass
outros/bulma/sass/utilities/.DS_Store
outros/bulma/sass/layout/section.sass
outros/bulma/sass/layout/hero.sass
outros/bulma/sass/layout/footer.sass
outros/bulma/sass/layout/_all.sass
outros/bulma/sass/helpers/visibility.sass
outros/bulma/sass/helpers/typography.sass
outros/bulma/sass/helpers/spacing.sass
outros/bulma/sass/helpers/position.sass
outros/bulma/sass/helpers/overflow.sass
outros/bulma/sass/helpers/other.sass
outros/bulma/sass/helpers/float.sass
outros/bulma/sass/helpers/flexbox.sass
outros/bulma/sass/helpers/color.sass
outros/bulma/sass/helpers/_all.sass
outros/bulma/sass/grid/tiles.sass
outros/bulma/sass/grid/columns.sass
outros/bulma/sass/grid/_all.sass
outros/bulma/sass/form/tools.sass
outros/bulma/sass/form/shared.sass
outros/bulma/sass/form/select.sass
outros/bulma/sass/form/input-textarea.sass
outros/bulma/sass/form/file.sass
outros/bulma/sass/form/checkbox-radio.sass
outros/bulma/sass/form/_all.sass
outros/bulma/sass/elements/title.sass
outros/bulma/sass/elements/tag.sass
outros/bulma/sass/elements/table.sass
outros/bulma/sass/elements/progress.sass
outros/bulma/sass/elements/other.sass
outros/bulma/sass/elements/notification.sass
outros/bulma/sass/elements/image.sass
outros/bulma/sass/elements/icon.sass
outros/bulma/sass/elements/form.sass
outros/bulma/sass/elements/content.sass
outros/bulma/sass/elements/container.sass
outros/bulma/sass/elements/button.sass
outros/bulma/sass/elements/box.sass
outros/bulma/sass/elements/_all.sass
outros/bulma/sass/components/tabs.sass
outros/bulma/sass/components/panel.sass
outros/bulma/sass/components/pagination.sass
outros/bulma/sass/components/navbar.sass
outros/bulma/sass/components/modal.sass
outros/bulma/sass/components/message.sass
outros/bulma/sass/components/menu.sass
outros/bulma/sass/components/media.sass
outros/bulma/sass/components/level.sass
outros/bulma/sass/components/dropdown.sass
outros/bulma/sass/components/card.sass
outros/bulma/sass/components/breadcrumb.sass
outros/bulma/sass/components/_all.sass
outros/bulma/sass/base/minireset.sass
outros/bulma/sass/base/helpers.sass
outros/bulma/sass/base/generic.sass
outros/bulma/sass/base/animations.sass
outros/bulma/sass/base/_all.sass
outros/bulma/sass/base/.DS_Store
outros/bulma/sass/.DS_Store
outros/bulma/README.md
outros/bulma/package.json
outros/bulma/LICENSE
outros/bulma/css/bulma.min.css
outros/bulma/css/bulma.css.map
outros/bulma/css/bulma.css
outros/bulma/css/bulma-rtl.min.css
outros/bulma/css/bulma-rtl.css.map
outros/bulma/css/bulma-rtl.css
outros/bulma/CHANGELOG.md
outros/bulma/bulma.sass
outros/apostila.pdf
